
WcfClient/WcfClient/obj/Debug/WcfClient.csprojAssemblyReference.cache
WcfClient/WcfClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Server/Server/obj/Debug/Server.csprojAssemblyReference.cache
Server/Server/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
